.container {
  cursor: pointer;
  background-color: yellow;
  width: 150px;
  height: 40px;
  border-radius: 50px;
  color: rgb(93, 93, 93);
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 0 20px;
  user-select: none;
}
