

.container {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.button {
  cursor: pointer;
  background-color: rgb(247, 202, 0);
  width: 150px;
  height: 40px;
  border-radius: 50px;
  color: rgb(22, 17, 17);
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
   user-select: none;
}

.input {
  margin-bottom: 10px;
  width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


.number {
  margin-left: 10px;
  width: 40px;
  font-size: 14px;
  color: rgb(42, 42, 42);
}
