.item_cart_counter {
  cursor: pointer;
  width: 50px;
  height: 50px;
  margin-right: 50px;
  margin-left: auto;


}

.number {
  display: flex;
  justify-content: center;
  align-items: center;
  color: blue;
}

.image {
  position: absolute;
}
