.mainContainer {
  display: flex;
  flex-direction: row;
  text-align: right;
  justify-content: center;
  align-items: center;
  margin: -5px 10px 0 auto;
}

.item_cart_counter {
  cursor: pointer;
  width: 50px;
  height: 40px;
}

.number {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(240, 136, 4);
}

.image {
  position: absolute;
  margin-top: 5px;
  display: flex;
}

.globalUser {
  margin-right: 10px;
}
