.mainContainer {
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
}

.product {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: 350px;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  background: white;
}

.link {
  cursor: pointer;
}

.image_and_descrption {
  margin: auto;
  display: flex;
  flex-direction: column;
}

.image {
  margin: auto;
}

.text {
  margin: 20px;
}
.title {
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.price {
  font-size: 16px;
  color: #4a5568;
}

.like {
  cursor: pointer;
  font-size: 20px;
  margin: 0 20px;
}

.like_and_add_to_cart {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}

.button {
  cursor: pointer;
  background-color: rgb(247 202, 0);
  width: 150px;
  height: 40px;
  border-radius: 50px;
  color: rgb(22, 17, 17);
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  user-select: none;
  margin: 0 auto 150px auto;
}
.empty {
  text-align: center;
  color: #4a5568;
  font-size: 20px;
}

.delete {
  margin: auto;
  cursor: pointer;
  color: red;
  user-select: none;
}

.pageName {
  color: rgb(63, 63, 63);
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}
