.mainContainer {
  margin: 0 auto 0 20px;
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.ListOfPtoducts {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto 0 20px;
}

.product {
  border: 1px solid #e2e8f0;
  display: flex;
  flex-direction: row;
  width: 600px;
  height: 150px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  background: white;
}

.link {
  cursor: pointer;
  display: flex;
  flex-direction: row;
}

.descrption {
  margin: 0px auto 0px 20px;
  display: flex;
  flex-direction: column;
}

.text {
  margin: 0px auto;
}

.title {
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.price {
  margin: 0px;
  font-size: 16px;
  color: #4a5568;
}

.like {
  cursor: pointer;
  font-size: 20px;
  margin: 0 20px;
}

.like_and_add_to_cart {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}

.button {
  cursor: pointer;
  background-color: rgb(247 202, 0);
  width: 150px;
  height: 40px;
  border-radius: 50px;
  color: rgb(22, 17, 17);
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  user-select: none;
  margin: 0 auto 150px auto;
}
.empty {
  text-align: center;
  color: #4a5568;
  font-size: 20px;
}

.delete {
  height: 20px;

  margin: 5px 5px 0 auto;
  cursor: pointer;
  color: red;
  user-select: none;
}

.pageName {
  color: rgb(63, 63, 63);
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.total {
  padding: 20px;
  font-size: 18px;
  position: fixed;
  right: 70px;
  top: 100px;
  text-align: right;
  border: 1px solid #4e4d6720;
  border-radius: 10px;
}
