.container {
  width: 150px;
  margin: 30px;
  display: flex;
  flex-direction: column;

  
}

.price {
  margin: 5px;
  font-size: 15px;
  border: none;
  cursor: pointer;
  color: rgb(95, 95, 95);
  background-color: transparent;
  text-align: left;
}

.price:hover {
  color: rgb(0, 0, 0);
}
