.layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 ;
  width: 100%;
}

.mainContainer {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.product {
  width: 300px;
  height: 350px;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  background: white;
}

.link {
  cursor: pointer;
}

.image_and_descrption {
  margin: auto;
  display: flex;
  flex-direction: column;
}

.image {
  margin: auto;
}

.text {
  margin: 20px;
  color: black;
}
.title {
  
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.like {
  cursor: pointer;
  font-size: 20px;
  margin: 0 20px;
}

.like_and_add_to_cart {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}
